<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOKOA BANK</title>
    <!-- 부트스트랩 -->
  	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- JqueryUi -->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<!-- Fontawesome -->
	<script src="https://kit.fontawesome.com/b05f67c88a.js" crossorigin="anonymous"></script>
	<!-- Template Main CSS File -->
	<link href="assets/css/style.css" rel="stylesheet">
  	<!-- Google Fonts -->
  	<link href="https://fonts.gstatic.com" rel="preconnect">
  	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!-- font-family: 'Dongle', sans-serif; -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap" rel="stylesheet">
	<link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">		
</head>
<body>
	<header class="fixed-top container" id="header">
		<div class="container">
      		<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        		<ul class="nav col-auto me-auto mb-2 align-items-center">
         	 		<li><a href="index.html" class="nav-link text-secondary fs-3 px-5">KOKOA BANK</a></li>
          			<li><a href="account.html" class="nav-link px-3 text-black">조회</a></li>
          			<li><a href="deposit.html" class="nav-link px-3 text-black">입금</a></li>
          			<li><a href="send.html" class="nav-link px-3 text-black">이체</a></li>
          			<li><a href="autoSend.html" class="nav-link px-3 text-black">자동이체</a></li>
          			<li><a href="exchangeRate.html" class="nav-link px-3 text-black">환율</a></li>
          			<li><a href="domesticStock.html" class="nav-link px-3 text-black">국내주식</a></li>
          			<li><a href="foreignStock.html" class="nav-link px-3 text-black">해외주식</a></li>
        		</ul>
        		<div class="col">
          			<a href="login.html" class="px-3" style="text-decoration: none; color: black; margin-left: 170px;">
          				로그인
          			</a>
					<a href="register.html" style="text-decoration: none; color: black;">
						회원가입
					</a>	
        		</div>
      		</div>
    	</div>
	</header>
	<!-- 조회 -->
	<div id="myCarousel" class="carousel slide carousel-dark position-relative container" data-bs-touch="false" style="width: 1000px; padding: 100px 50px 0 50px; box-sizing: border-box; margin: auto;">
  		<div class="carousel-inner" style="margin: auto;">
	    	<div class="carousel-item active">
				<div class="d-flex justify-content-center">
					<div class="rounded border border-dark bg-secondary" style="padding: 30px;">
						<div class="col d-flex justify-content-center" style="font-family: 'Dongle', sans-serif;">
							<i class="fa-solid fa-money-check h1 px-3 text-white"></i>
							<p class="h1 text-white px-3">적금통장</p>			
							<p class="h1 text-white px-3">3414-34-3321</p>
							<p class="h1 text-white px-3">300,000,000원</p>
						</div>	
					</div>
	    		</div>
	    	</div>
    		<div class="carousel-item">
    			<div class="d-flex justify-content-center">
		    		<div class="rounded border border-dark bg-success" style="padding: 30px;">
		    			<div class="col d-flex justify-content-center" style="font-family: 'Dongle', sans-serif;">
							<i class="fa-solid fa-money-check h1 px-3 text-white"></i>
							<p class="h1 text-white px-3">예금통장</p>			
							<p class="h1 text-white px-3">3414-34-3444</p>
							<p class="h1 text-white px-3">30,000,000원</p>
						</div>	
		    		</div>
	    		</div>
	    	</div>
	    	<div class="carousel-item">
				<div class="d-flex justify-content-center">
					<div class="rounded border border-dark bg-dark" style="padding: 30px;">
						<div class="col d-flex justify-content-center" style="font-family: 'Dongle', sans-serif;">
							<i class="fa-solid fa-money-check h1 px-3 text-white"></i>
							<p class="h1 text-white px-3">입출금통장</p>			
							<p class="h1 text-white px-3">3414-34-8661</p>
							<p class="h1 text-white px-3">300,000원</p>
						</div>	
					</div>
	    		</div>
	    	</div>
		  	<button class="carousel-control-prev position-absolute top-50 start-0 translate-middle-y" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" style="width: 32px; height: 32px;">
		    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		    	<span class="visually-hidden">Previous</span>
		  	</button>
		  	<button class="carousel-control-next position-absolute top-50 end-0 translate-middle-y" type="button" data-bs-target="#myCarousel" data-bs-slide="next" style="width: 32px; height: 32px;">
		    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
		    	<span class="visually-hidden">Next</span>
		  	</button>
		</div>
	</div>
	<main id="main" class="main">
	    <div class="pagetitle">
      		<h1>통장이름</h1>
      		<nav>
        		<ol class="breadcrumb">
          			<li class="breadcrumb-item"><a href="#">KOKOA BANK</a></li>
          			<li class="breadcrumb-item active">통장이름</li>
        		</ol>
      		</nav>
    	</div>	
	    <section class="section">
			<form>
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body py-5">
								<div class="row">
									<div class="col-2" style="margin-right: -24px;">
				    					<select class="form-select">
				    						<option selected disabled>사용</option>
				      						<option>N</option>
				      						<option>Y</option>
				    					</select>
				  					</div>
									<div class="col-2" style="margin-right: -24px;">
				    					<select class="form-select selectPeriod">
				      						<option selected disabled>기간</option>
				      						<option>1주일</option>
				      						<option>1개월</option>
				      						<option>3개월</option>
				    					</select>
				  					</div>
					    			<div class="col-2" style="margin-right: -24px;">
				    					<input type="text" class="form-control datepicker dateStart" placeholder="시작일">
				  					</div>
					    			<div class="col-2" style="margin-right: -24px;">
				    					<input type="text" class="form-control datepicker dateFinish" placeholder="종료일">
				  					</div> 					
									<div class="col-2" style="margin-right: -24px;">
				    					<select id="" class="form-select">
				      						<option selected disabled>검색구분</option>
				      						<option>...</option>
				    					</select>
				  					</div>
				  					<div class="col-2" style="margin-right: -20px;">
				    					<input type="text" class="form-control" placeholder="검색어">
				  					</div>  
				  					<div class="col">
										<button type="button" class="btn btn-danger" id="btnSearch">
											<i class="fa-solid fa-magnifying-glass"></i>
										</button>
										<button type="button" class="btn btn-warning" id="btnRefresh">
											<i class="fa-solid fa-rotate-right" style="color: #ffffff;"></i>
										</button>
									</div>
								</div>
								<table class="table datatable">		
									<thead>
										<tr>
											<th scope="col">순서</th>
											<th scope="col">날짜</th>
								      		<th scope="col">내용</th>
								      		<th scope="col">금액</th>
								      		<th scope="col">입·출금</th>
								      		<th scope="col">잔액</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
								      		<td>2023-06-15</td>
								      		<td>순대국</td>
								      		<td>5,000</td>
								      		<td>출금</td>
								      		<td>500,000</td>
										</tr>
										<tr>
								      		<td>2</td>
								      		<td>2023-06-18</td>
								      		<td>순대국</td>
								      		<td>4,000</td>
								      		<td>출금</td>
								      		<td>590,000</td>
										</tr>
										<tr>
								      		<td>3</td>
								      		<td>2023-04-15</td>
								      		<td>순대국</td>
								      		<td>5,000</td>
								      		<td>출금</td>
								      		<td>500,000</td>
										</tr>
										<tr>
								      		<td>4</td>
								      		<td>2023-04-15</td>
								      		<td>순대국</td>
								      		<td>5,000</td>
								      		<td>입금</td>
								      		<td>500,000</td>
										</tr>
										<tr>
								      		<td>5</td>
								      		<td>2023-04-15</td>
								      		<td>순대국</td>
								      		<td>5,000</td>
								      		<td>입금</td>
								      		<td>500,000</td>
										</tr>
										<tr>
								      		<td>6</td>
								      		<td>2023-04-15</td>
								      		<td>순대국</td>
								      		<td>8,000</td>
								      		<td>입금</td>
								      		<td>500,000</td>
										</tr>
										<tr>
								      		<td>9 </td>
								      		<td>2023-04-15</td>
								      		<td>순대국</td>
								      		<td>5,000</td>
								      		<td>출금</td>
								      		<td>500,000</td>
										</tr>
										<tr>
								      		<td>10</td>
								      		<td>2023-04-15</td>
								      		<td>순대국</td>
								      		<td>5,000</td>
								      		<td>출금</td>
								      		<td>500,000</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</form>
    	</section>
	</main>
	<div class="container" id="footer">
  		<footer class="d-flex flex-wrap justify-content-center align-items-center my-4 border-top" style="padding-top: 20px;">
    		<div class="col-4 d-flex align-items-center justify-content-end">
      			<div class="copyright">
     		 		&copy; Copyright <strong><span>KOKOA BANK</span></strong> Corp. All Rights Reserved
    			</div>
    		</div>
  		</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="assets/js/main.js"></script>
	<script>
		
		// datepicker
		$(function() {

			$(".datepicker").datepicker({
				dateFormat: 'yy-mm-dd'
			});

		});

		// 기간설정
		$(".selectPeriod").on("change", function() {
			var period = $(this).val();
			var today = new Date();
			var oneWeekAgo = new Date(today.getTime() - (7 * 24 * 60 * 60 * 1000));
			var oneMonthAgo = new Date(today.getTime() - (30 * 24 * 60 * 60 * 1000));
			var threeMonthsAgo = new Date(today.getTime() - (90 * 24 * 60 * 60 * 1000));
			
			switch (period) {
				case "1주일":
					$(".dateStart").datepicker("setDate", oneWeekAgo);
					$(".dateFinish").datepicker("setDate", today);
					break;
				case "1개월":
					$(".dateStart").datepicker("setDate", oneMonthAgo);
					$(".dateFinish").datepicker("setDate", today);
					break;
				case "3개월":
					$(".dateStart").datepicker("setDate", threeMonthsAgo);
					$(".dateFinish").datepicker("setDate", today);
					break;
			}
		});	

	</script>
</body>
</html>