<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis,org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- 전체 매퍼중에서 유일한 값을 사용하여야 한다.
	해서 관계적으로 해당 파일의 패스와 파일이름(확장자 제외)
	그리고 dao 에서 namespace와 일치하여야 된다. -->
	
<mapper namespace="com.mycompany.app.infra.modules.codegroup.CodeGroupMapper">
								 <!-- select 결과를 받을 객체 -->
	<resultMap id="resultMapObj" type="com.mycompany.app.infra.modules.codegroup.CodeGroup"></resultMap>
					
	<sql id="abc">
		seq,
		delNy,
		name
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			<include refid="abc" />
		FROM 
			codeGroup
		WHERE 1=1
			<if test="shKeyword != null and !shKeyword.equals('')">AND name LIKE CONCAT('%',#{shKeyword},'%')</if>
	</select> 
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
		  	<include refid="abc" /> 
		FROM 
		  	codeGroup 
		WHERE 1=1
	  		AND seq = #{seq}
	</select>
	
    <update id="update">
        UPDATE 
        	codeGroup
        SET 
        	name = #{name}
        WHERE 
        	seq = #{seq}
    </update>
<!--  실제로는 update 삭제 (uelete) 로 사용함.
	<delete id="delete">
	    DELETE 
	    FROM 
	    	codeGroup
	    WHERE 
	    	seq = #{seq}
	</delete> 
 -->
	<insert id="insert">
 		INSERT INTO codeGroup (
 			delNy,
 			name
    	) VALUES (
    		0, 
    		#{name}
		)
	</insert>
     
    <update id="uelete">
        UPDATE 
        	codeGroup
       	SET
			delNy = "1"
		WHERE				
		 	seq = #{seq}
    </update>
    
   	<sql id="boardWhere">
		WHERE column1 = #{value1}
			AND column2 = #{value2}
	</sql>
    
	<select id="getList" resultMap="resultMapObj">
		<![CDATA[
			SELECT *
			FROM codeGroup
		]]>
		<include refid="boardWhere"/>
		<![CDATA[
			ORDER BY seq DESC
			LIMIT #{recordCountPerPage} OFFSET #{firstIndex}
		]]>	
	</select>
	
	<select id="getListCnt" resultMap="resultMapObj">
		SELECT COUNT(*)
		FROM codeGroup
		<include refid="boardWhere"/>	
	</select>
    
</mapper>