<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis,org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<!-- 전체 매퍼중에서 유일한 값을 사용하여야 한다.
	해서 관계적으로 해당 파일의 패스와 파일이름(확장자 제외)
	그리고 dao 에서 namespace와 일치하여야 된다. -->
	
<mapper namespace="com.mycompany.app.infra.modules.codegroup.CodeGroupMapper">
								 <!-- select 결과를 받을 객체 -->
	<resultMap id="resultMapObj" type="com.mycompany.app.infra.modules.codegroup.CodeGroup"></resultMap>
					
	<sql id="codeGroup">
		seq,
		delNy,
		gender
	</sql>
	
	<sql id="selectCommon">
		FROM 
			codeGroup
		WHERE 1=1
			<if test="shKeyword != null and !shKeyword.equals('')">AND delNy LIKE CONCAT('%',#{shKeyword},'%')</if>
	</sql>
	
   	<select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		<include refid="selectCommon" />
	</select>
	
   	<select id="selectList" resultMap="resultMapObj">
		SELECT cg.* FROM (   	
	   		SELECT
				<include refid="codeGroup" />
	   			<include refid="selectCommon" />
		) cg
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}	   			
   	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT 
		  	<include refid="codeGroup" /> 
		FROM 
		  	codeGroup 
		WHERE 1=1
	  		AND seq = #{seq}
	</select>
	
    <update id="update">
        UPDATE 
        	codeGroup
        SET 
        	gender = #{gender}
        WHERE 
        	seq = #{seq}
    </update>
    
<!--  실제로는 update 삭제 (uelete) 로 사용함.
	<delete id="delete">
	    DELETE 
	    FROM 
	    	codeGroup
	    WHERE 
	    	seq = #{seq}
	</delete> 
 -->
 
	<insert id="insert">
 		INSERT INTO codeGroup (
 			delNy,
 			gender
    	) VALUES (
    		0, 
    		#{gender}
		)
	</insert>
     
    <update id="uelete">
        UPDATE 
        	codeGroup
       	SET
			delNy = "1"
		WHERE				
		 	seq = #{seq}
    </update>
    
</mapper>